/************************************/
/*********Mobile*********************/
/************************************/

/*********Header*********************/

header {
    text-align: center;
    background: radial-gradient(#25a6df, #0f70b7);
}

.logo {
    width: 150px;
    padding: 15px 35px;
    background-color: #1e3449;
    border-radius: 10px;
}
