/************************************/
/*********Mobile*********************/
/************************************/


/*********Reset CSS******************/

* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

h1, h2 {
    text-shadow: 2px 2px 5px #1e3449;
}



/*********Header*********************/

header {
    text-align: center;
    background: radial-gradient(#25a6df, #0f70b7);
    padding-bottom: 15px;
    color: #fff;
}

.logo {
    width: 150px;
    padding: 15px 35px;
    background-color: #1e3449;
    border-radius: 10px;
    margin-top: 10px;
}



/*********Main**********************/

h2 {
    background: radial-gradient(#25a6df, #0f70b7);
    padding-left: 15px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
}

dl {
    padding-left: 15px;
    margin: 8px auto;
}

dt {
    font-weight: bold;
    margin-top: 8px;
}

dd {
    padding-left: 15px;
    color: #0f70b7
}



/************************************/
/*********Tablet*********************/
/************************************/

@media screen and (min-width: 600px){
    main {
        display: flex;
        flex-wrap: wrap;
    }

    main > div {
        width: 50%;
        border-left: thin dashed #1e3449;
        margin-left: -1px;
    }
}



/************************************/
/*********Desktop********************/
/************************************/

@media screen and (min-width: 1024px){
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin-left: 10px;
    }

    main > div {
        width: 33.333333333%;
    }
}
